In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import os
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
print(os.listdir("/content/"))
%matplotlib inline

['.config', 'datasets_7264_10388_World Cup 2018 Dataset.csv', '4305_958870_compressed_results.csv.zip', 'world_cup_results.csv', 'kaggle.json', 'world-cup-results.zip', '.ipynb_checkpoints', '26029_39037_compressed_fifa_ranking.csv.zip', 'sample_data']

In [0]:
from matplotlib import pyplot
pyplot.style.use('ggplot')

In [4]:
path="/content/world-cup-results.zip"
df=pd.read_csv(path)
df.head()

   Year       Date     Time    Round  ... HomeGoals AwayGoals AwayTeam  Observation
0  1930  13-Jul-30   15:00   Group 1  ...         4         1   Mexico
1  1930  13-Jul-30   15:00   Group 4  ...         3         0  Belgium
2  1930  14-Jul-30   12:45   Group 2  ...         2         1   Brazil
3  1930  14-Jul-30   14:50   Group 3  ...         3         1     Peru
4  1930  15-Jul-30   16:00   Group 1  ...         1         0   France

[5 rows x 11 columns]

In [5]:
!kaggle datasets download -d mushfiqurrobin/world-cup-results

world-cup-results.zip: Skipping, found more recently modified local copy (use --force to force download)

In [0]:
import tensorflow as tf
import os
import zipfile
from os import path, getcwd, chdir
path = "/content/world-cup-results.zip"
zip_ref = zipfile.ZipFile(path, 'r')
zip_ref.extractall("/content/")
zip_ref.close()

In [7]:
tf.__version__

'2.1.0'

In [8]:
df = pd.read_csv("/content/world_cup_results.csv")
df.head()

   Year       Date     Time    Round  ... HomeGoals AwayGoals AwayTeam  Observation
0  1930  13-Jul-30   15:00   Group 1  ...         4         1   Mexico
1  1930  13-Jul-30   15:00   Group 4  ...         3         0  Belgium
2  1930  14-Jul-30   12:45   Group 2  ...         2         1   Brazil
3  1930  14-Jul-30   14:50   Group 3  ...         3         1     Peru
4  1930  15-Jul-30   16:00   Group 1  ...         1         0   France

[5 rows x 11 columns]

In [9]:
df['Year']

0      1930
1      1930
2      1930
3      1930
4      1930
       ...
847    2014
848    2014
849    2014
850    2014
851    2014
Name: Year, Length: 852, dtype: int64

In [10]:
df['Year'].value_counts()

2014    80
2010    64
2006    64
2002    64
1998    64
1994    52
1990    52
1986    52
1982    52
1974    38
1978    38
1958    35
1970    32
1966    32
1962    32
1954    26
1950    22
1938    18
1930    18
1934    17
Name: Year, dtype: int64

In [11]:
matches_per_year = df.Year.value_counts() 
all_games = pd.DataFrame(matches_per_year)
all_games.reset_index(inplace=True)
all_games.columns = ['Year', 'Matches']
all_games

    Year  Matches
0   2014       80
1   2010       64
2   2006       64
3   2002       64
4   1998       64
5   1994       52
6   1990       52
7   1986       52
8   1982       52
9   1974       38
10  1978       38
11  1958       35
12  1970       32
13  1966       32
14  1962       32
15  1954       26
16  1950       22
17  1938       18
18  1930       18
19  1934       17

In [0]:
import plotly.express as px

fig = px.bar(all_games, x='Year', y='Matches', text='Matches', height=500,
labels={'Matches':'Matches Played', 'Year':'World Cup Year'},
title="Total Matches Played Each World Cup Year")

In [13]:
fig.update_xaxes(
tickangle=45, tickfont=dict(family='Arial', color='blue', size=14),
tickvals=[line for line in all_games.Year])
fig.show()

In [14]:
df1 = df['HomeGoals'].sum() + df['AwayGoals'].sum()
df1

2414

In [15]:
df.tail()

     Year       Date  ...     AwayTeam                            Observation
847  2014   5-Jul-14  ...   Costa Rica  Netherlands win on penalties (4 - 3)
848  2014   8-Jul-14  ...      Germany
849  2014   9-Jul-14  ...    Argentina    Argentina win on penalties (2 - 4)
850  2014  12-Jul-14  ...  Netherlands
851  2014  13-Jul-14  ...    Argentina          Germany win after extra time

[5 rows x 11 columns]

In [16]:
df.dtypes

Year            int64
Date           object
Time           object
Round          object
Stadium        object
City           object
HomeTeam       object
HomeGoals       int64
AwayGoals       int64
AwayTeam       object
Observation    object
dtype: object

In [0]:
df['TotalGoals'] = df['HomeGoals'] + df['AwayGoals']

In [18]:
df = df[['Year', 'Time', 'Round', 'HomeTeam', 'HomeGoals', 'AwayTeam', 'AwayGoals', 'TotalGoals']]
df.head(2)

   Year     Time    Round HomeTeam  HomeGoals AwayTeam  AwayGoals  TotalGoals
0  1930   15:00   Group 1   France          4   Mexico          1           5
1  1930   15:00   Group 4      USA          3  Belgium          0           3

In [19]:
all_goals = df.groupby(['Year']).TotalGoals.sum()
all_goals

Year
1930     70
1934     70
1938     84
1950     88
1954    140
1958    126
1962     89
1966     89
1970     95
1974     97
1978    102
1982    146
1986    132
1990    115
1994    141
1998    171
2002    161
2006    147
2010    145
2014    206
Name: TotalGoals, dtype: int64

In [20]:
all_finals = df[df['Round'] == 'Final']
all_finals.head()

     Year     Time  Round  ...        AwayTeam  AwayGoals TotalGoals
17   1930   14:15   Final  ...       Argentina          2          6
34   1934   17:30   Final  ...  Czechoslovakia          1          3
52   1938   17:00   Final  ...         Hungary          2          6
100  1954   17:00   Final  ...         Hungary          2          5
135  1958   15:00   Final  ...          Sweden          2          7

[5 rows x 8 columns]

In [21]:
teams = [team for team in all_finals.HomeTeam] + [team for team in all_finals.AwayTeam]
teams[:5]

['Uruguay', 'Italy', 'Italy', 'Germany FR', 'Brazil']

In [22]:
all_finals_df = pd.DataFrame(columns=['Teams'], data = teams)
all_finals_df.head(10)

         Teams
0      Uruguay
1        Italy
2        Italy
3   Germany FR
4       Brazil
5       Brazil
6      England
7       Brazil
8  Netherlands
9    Argentina

In [23]:
all_finals_df.Teams.value_counts()

Brazil            6
Argentina         6
Italy             6
Germany FR        6
Germany           3
Netherlands       3
Hungary           2
Czechoslovakia    2
France            2
England           1
Uruguay           1
Spain             1
Sweden            1
Name: Teams, dtype: int64

In [24]:
finals_teams_ranked = all_finals_df.Teams.value_counts()
finals_teams_ranked

Brazil            6
Argentina         6
Italy             6
Germany FR        6
Germany           3
Netherlands       3
Hungary           2
Czechoslovakia    2
France            2
England           1
Uruguay           1
Spain             1
Sweden            1
Name: Teams, dtype: int64

In [25]:
all_semi_finals = df[df['Round'] == 'Semi-finals']
all_semi_finals.head()

    Year     Time        Round  ...    AwayTeam  AwayGoals TotalGoals
15  1930   14:45   Semi-finals  ...         USA          1          7
16  1930   14:45   Semi-finals  ...  Yugoslavia          1          7
31  1934   16:30   Semi-finals  ...     Austria          0          1
32  1934   16:30   Semi-finals  ...     Germany          1          4
49  1938   18:00   Semi-finals  ...      Sweden          1          6

[5 rows x 8 columns]

In [0]:
teams = [t for t in all_semi_finals.HomeTeam] + [t for t in all_semi_finals.AwayTeam]

In [27]:
all_semi_finals_df = pd.DataFrame(columns=['Teams'], data = teams)
all_semi_finals_df.head()

            Teams
0       Argentina
1         Uruguay
2           Italy
3  Czechoslovakia
4         Hungary

In [28]:
semifinals_teams_ranked = all_semi_finals_df.Teams.value_counts()
semifinals_teams_ranked

Brazil            9
Germany FR        7
Italy             7
Germany           6
France            5
Argentina         5
Netherlands       4
Uruguay           4
Sweden            3
Austria           2
Portugal          2
England           2
Yugoslavia        2
Czechoslovakia    2
Hungary           2
Turkey            1
Korea Republic    1
Soviet Union      1
Poland            1
USA               1
Spain             1
Croatia           1
Bulgaria          1
Belgium           1
Chile             1
Name: Teams, dtype: int64

In [29]:
semi_goals_sum = all_semi_finals.TotalGoals.sum()
semi_goals_sum

131

In [30]:
semi_goals_avg = all_semi_finals.TotalGoals.mean()
semi_goals_avg

3.638888888888889

In [31]:
all_qtrs = df[df['Round'] == 'Quarter-finals']
all_qtrs.head()

    Year     Time           Round  ...     AwayTeam  AwayGoals TotalGoals
26  1934   16:30   Quarter-finals  ...  Switzerland          2          5
27  1934   16:30   Quarter-finals  ...       Sweden          1          3
28  1934   16:30   Quarter-finals  ...        Spain          1          2
29  1934   16:30   Quarter-finals  ...      Hungary          1          3
30  1934   16:30   Quarter-finals  ...        Spain          0          1

[5 rows x 8 columns]

In [32]:
qtrs_goals_sum = all_qtrs.TotalGoals.sum()
qtrs_goals_sum

180

In [33]:
qtrs_goals_avg = all_qtrs.TotalGoals.mean()
qtrs_goals_avg

2.727272727272727

In [34]:
finals_goals_sum = all_finals.TotalGoals.sum()
finals_goals_sum

69

In [35]:
finals_goals_avg = all_finals.TotalGoals.mean()
finals_goals_avg

3.45

In [36]:
print(f"{finals_goals_sum} goals were scored in all Finals\nAn average of {finals_goals_avg:.2f} in every match.")

69 goals were scored in all Finals
An average of 3.45 in every match.